<div>
  <h1>Coronavirus Live Tracker</h1>
  <label>Country:&nbsp;&nbsp;</label>
  <select (change)="getCountry($event.target.value)">
    <option *ngFor="let country of countries" value={{country.Slug}}>
      {{country.Country}}
    </option>
  </select>
  <br /><br />
  <button (click)="getCoronaData()">Get Coronavirus Data</button>
  <h1>Total Coronavirus Cases:&nbsp;&nbsp;{{Confirmed}}</h1>
  <h1>Total Coronavirus Recoveries:&nbsp;&nbsp;{{Recovered}}</h1>
  <h1>Total Coronavirus Deaths:&nbsp;&nbsp;{{Deaths}}</h1>
  <p>Chart goes here</p>
  <div *ngif="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <p>Chart ends here</p>
</div>